.150_3 { 
	overflow:hidden;
}.logar_150_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:1365px;
	height:1461px;
	position:absolute;
}.cabecalho_150_4 { 
	width:1365px;
	height:910px;
	position:absolute;
	left:0px;
	top:0px;
}.cabecalho_150_5 { 
	background-image:url(images/cabecalho.png);
	width:1365px;
	height:910px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}.x_show_150_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:137px;
	height:142px;
	position:absolute;
	left:65px;
	top:23px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
	line-height:px;
}.rodap__150_16 { 
	width:1365px;
	height:458.699951171875px;
	position:absolute;
	left:0px;
	top:1002.300048828125px;
}.rectangle_25_150_17 { 
	background-color:rgba(24.43749949336052, 24.43749949336052, 24.43749949336052, 1);
	width:1365px;
	height:458.699951171875px;
	position:absolute;
	left:0px;
	top:0px;
}.line_4_150_18 { 
	transform: rotate(6.970474665959417e-17deg);
	width:1361.5389404296875px;
	height:0px;
	position:absolute;
	left:1.77740478515625px;
	top:403.8553771972656px;
}.150_18 { 
	border:1px solid rgba(215.13965249061584, 215.13965249061584, 215.13965249061584, 1);
}.lorem_ipsum_is_simply_dummy_text_of_the_printing_and_typesetting_industry__lorem_ipsum_has_been_the_industry_s_standard_dummy_text_ever_since_the_1500s__when_an_unknown_printer_took_a_galley_of_type_and_scrambled_it_to_make_a_type_150_19 { 
	color:rgba(255, 255, 255, 1);
	width:540.3124389648438px;
	height:169.51956176757812px;
	position:absolute;
	left:734.04296875px;
	top:58.58404541015625px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.informa__es_sobre_o_projeto__150_20 { 
	color:rgba(255, 255, 255, 1);
	width:540.3125px;
	height:40.10491180419922px;
	position:absolute;
	left:733.6875px;
	top:28.407649993896484px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:20px;
	letter-spacing:6;
}.links_github__150_21 { 
	color:rgba(255, 255, 255, 1);
	width:335.91796875px;
	height:39.88694763183594px;
	position:absolute;
	left:101.30859375px;
	top:221.87130737304688px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:20px;
	letter-spacing:6;
}.projeto_desenvolvido_por__150_22 { 
	color:rgba(255, 255, 255, 1);
	width:652.2850952148438px;
	height:57.337493896484375px;
	position:absolute;
	left:81.75775146484375px;
	top:19.943328857421875px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:20px;
	letter-spacing:6;
}.lucas_sepriano_gustavo_carlos_fabio_jo_o_150_23 { 
	color:rgba(255, 255, 255, 1);
	width:491.04217529296875px;
	height:130.87905883789062px;
	position:absolute;
	left:81.75775146484375px;
	top:68.55580139160156px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.https___github_com_lucassepri_https___github_com_gustavohenriqueignacio_https___github_com_carlloshenrique_https___github_com_fabio_vini_https___github_com_joao19921_150_24 { 
	color:rgba(255, 255, 255, 1);
	width:494.1015625px;
	height:130.87905883789062px;
	position:absolute;
	left:81.75775146484375px;
	top:263.004638671875px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.copyright___2020_x_show__todos_os_direitos_reservados_150_25 { 
	color:rgba(255, 255, 255, 1);
	width:1085.9571533203125px;
	height:24.929344177246094px;
	position:absolute;
	left:140px;
	top:413.699951171875px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:14px;
	letter-spacing:6;
}.rectangle_40_160_18 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 27.507847547531128%,rgba(0, 0, 0, 0) 57.785576581954956%) ;
	width:1365px;
	height:153px;
	position:absolute;
	left:0px;
	top:2px;
}.acessos__160_12 { 
	width:562.971923828125px;
	height:122.77415466308594px;
	position:absolute;
	left:746px;
	top:17px;
}.rectangle_3_160_13 { 
	background-color:rgba(0, 0, 0, 0.6000000238418579);
	width:246.30020141601562px;
	height:102.3117904663086px;
	position:absolute;
	left:308.552001953125px;
	top:8.18488597869873px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.160_13 { 
	border:3px solid rgba(255, 255, 255, 1);
}.cadastrar_160_14 { 
	color:rgba(255, 255, 255, 1);
	width:281.4859619140625px;
	height:122.77415466308594px;
	position:absolute;
	left:281.4859619140625px;
	top:0px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.eventos_160_15 { 
	color:rgba(255, 255, 255, 1);
	width:281.4859619140625px;
	height:122.77415466308594px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.login_160_8 { 
	width:769px;
	height:707px;
	position:absolute;
	left:298px;
	top:165px;
}.rectangle_41_150_87 { 
	background-color:rgba(0, 0, 0, 0.14000000059604645);
	width:769px;
	height:707px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.150_87 { 
	border:7px solid rgba(234.60001945495605, 0, 255, 1);
}.ellipse_1_150_88 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:180px;
	height:174.08642578125px;
	position:absolute;
	left:295px;
	top:53.93003845214844px;
}.rectangle_45_153_94 { 
	background-color:rgba(231.00000143051147, 69.99999582767487, 173.9999896287918, 0);
	width:567px;
	height:79.66666412353516px;
	position:absolute;
	left:101px;
	top:514.226318359375px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.153_94 { 
	border:1px solid rgba(255, 255, 255, 1);
}.esqueci_minha_senha_152_3 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:35px;
	position:absolute;
	left:241px;
	top:608px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.entrar_160_7 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:38.35802459716797px;
	position:absolute;
	left:283px;
	top:534.8806762695312px;
	font-family:Rhodium Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}.168_209 { 
	border:5px solid rgba(255, 255, 255, 1);
}.line_5_168_209 { 
	width:566.071533203125px;
	height:0px;
	position:absolute;
	left:101px;
	top:353px;
}.168_211 { 
	border:5px solid rgba(255, 255, 255, 1);
}.line_6_168_211 { 
	width:566.071533203125px;
	height:0px;
	position:absolute;
	left:102px;
	top:477px;
}