*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #000000;
}

.fundo{
    width: 100%;
}

.cabecalho{
    position: absolute;
    /* width: 1346px; */
    width: 100%;
    height: 166px;
    left: 0px;
    top: 0px;

    background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 27.51%, rgba(0, 0, 0, 0) 57.79%);
    backdrop-filter: blur(6px);
}

.logo{
    position: absolute;
    left: 8.13%;
    right: 84.91%;
    top: 15%;
    bottom: 95.5%;
}

.botao-cadastrar{
    position: absolute;
    left: 80%;
    top: 20%;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;

    mix-blend-mode: lighten;

    background: rgba(0, 0, 0, 0.6);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px 50px;
}

.botao-cadastrar:hover {
    background-color: rgb(51, 31, 47);
}



.botao-eventos{
    position: absolute;
    left: 55%;
    top: 40%;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.botao-acessar-sua-conta{
    position: absolute;
    left: 63%;
    top: 40%;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.texto-titulo{
    position: absolute;
    left: 542.57px;
    top: 256.89px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 164px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    color: #FFFFFF;
}

.texto-conteudo{
    position: absolute;
    width: 868px;
    height: 375.46px;
    left: 358px;
    top: 408.54px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    color: #FFFFFF;

}


/*   Slides Imagens      */


/* Botoes para mudar o slide */
.botao-stand-up {
    position: absolute;
    width: 462px;
    height: 103.85px;
    left: 77px;
    top: 949px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-eletronica {
    position: absolute;
    width: 462px;
    height: 103.85px;
    left: 77px;
    top: 1066.14px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-sertanejo{
    position: absolute;
    width: 462px;
    height: 104px;
    left: 77px;
    top: 1183px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-rock{
    position: absolute;
    width: 462px;
    height: 104px;
    left: 77px;
    top: 1300px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-mpb{
    position: absolute;
    width: 462px;
    height: 104px;
    left: 77px;
    top: 1417px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-gospel{
    position: absolute;
    width: 463px;
    height: 104px;
    left: 76px;
    top: 1534px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Slide */

.slide-cards{
    position: absolute;
    height: 641.08px;
    width: 568.13px;
    left: 693.29px;
    top: 950px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}



.botao-veja-mais{
    position: absolute;
    left: 837.63px;
    top: 1534px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;

    background: #E746AE;
    border-radius: 5px;
    padding: 20px 60px;
}




/*     EVENTOS PROXIMOS     */

.gif{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 1684px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url(.png);
    filter: blur(2px);
}

.titulo-eventos-proximos{
    position: absolute;
    left: 37%;
    top: 1764px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    color: #FFFFFF;
}

/* Lista de eventos */

.show1, .show2, .show3 {
    position: absolute;
    left: 115px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    color: #FFFFFF;
}
.show1 {top: 1890px;}
.show2 {top: 1990px;}
.show3 {top: 2090px;}

.data1, .data2, .data3 {
    position: absolute;
    left: 433px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    color: #FFFFFF;
}
.data1 {top: 1900px;}
.data2 {top: 2000px;}
.data3 {top: 2100px;}

.local1, .local2, .local3{
    position: absolute;
    left: 659px;
    
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;
    
    color: #DDDBDB;
}

.local1{top: 1905px;}
.local2{top: 2005px;}
.local3{top: 2105px;}


.botao-notificar1, .botao-notificar2, .botao-notificar3{
    position: absolute;
    left: 874px;
    
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

    background:none;
    color: #FFFFFF;
}

.botao-notificar1{top: 1890px;}
.botao-notificar2{top: 1990px;}
.botao-notificar3{top: 2090px;}

.botao-loja1, .botao-loja2, .botao-loja3{
    position: absolute;
    left: 1104px;
    
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    
    background:none;
    color: #FFFFFF;
}

.botao-loja1{top: 1890px;}
.botao-loja2{top: 1990px;}
.botao-loja3{top: 2090px;}


.linha1{position: absolute; top: 1964px; margin: 0 60px;}
.linha2{position: absolute; top: 2064px; margin: 0 60px;}
.linha3{position: absolute; top: 2164px; margin: 0 60px;}





.botao-exibir-mais{
    position: absolute;
    left: 58.58px;
    top: 2235.25px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    background: #E746AE;
    border-radius: 5px;
    padding: 20px 520px;
}



/* RODAPÉ */
.rodape {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 2392.3px;
    background: #181818;
} 

.informacoes-1{
    position:absolute;
    left: 80px;
    top: 20px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: default;

    color: #FFFFFF;
}

.informacoes-1-conteudo{
    position: absolute;
    left: 80px;
    top: 65px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    cursor: default;

    color: #FFFFFF;
}

.informacoes-2{
    position:absolute;
    left: 80px;
    top: 260px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: default;

    color: #FFFFFF;
}
.informacoes-2-conteudo{
    position: absolute;
    left: 80px;
    top: 300px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 0.06em;
    cursor: default;

    color: #FFFFFF;
}

.informacoes-3{
    position:absolute;
    left: 700px;
    top: 20px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: default;

    color: #FFFFFF;
}

.informacoes-3-conteudo{
    position: absolute;
    left: 700px;
    top: 65px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 0.06em;
    margin-right:50px;
    cursor: default;

    color: #FFFFFF;
}

   

.texto-direitos{
    position: absolute;
    top: 90%;
    left: 35%;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: default;

	color: white;
}

.linha {
    position: absolute;
    top: 86%;
	width: 99.8%;
	border:1px solid rgba(215.13965249061584, 215.13965249061584, 215.13965249061584, 1);
}

.grid{
    display: grid;
}
     





/* ---------------------------------PAGINA EVENTOS------------------------------  */


.busca {
    position: absolute;
    left: 20%;
    top: 10.5%;

    background-color: none;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 15px;
    width: 400px; 
}
      
.txtBusca{
    float:left;
    background-color:transparent;
    padding:5px;
    margin-top: 2px;
    font-style:italic;
    font-size:18px;
    border: none;
    border-radius: 15px;
    height: 100%;
    width: 80%;
    color: white;
}
